
<div class="container">
  <div class="row">
    <div class="col-md">
      <div class="card">
        <div class="center">
          <h1>SIGN UP FORM</h1>
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="signup()">
          <div class="mb-3">
            <label for="FirstName" class="form-label">Enter First Name</label>
            <input
              type="string"
              formControlName="fname"
              class="form-control"
              id="exampleInputFname"
              aria-describedby="fnameHelp"
            />
          </div>
          <div class="mb-3">
            <label for="LastName" class="form-label">Enter Last Name</label>
            <input
              type="string"
              formControlName="lname"
              class="form-control"
              id="exampleInputLname"
              aria-describedby="lnameHelp"
            />
          </div>
          <div class="mb-3">
            <label for="PhoneNumber" class="form-label">Phone Number</label>
            <input
              type="number"
              formControlName="phone"
              class="form-control"
              id="exampleInputPnumber"
              aria-describedby="PnumberHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              formControlName="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              formControlName="password"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <div>Already account Created<a routerLink="/login"> Login</a></div>
        </form>
      </div>
    </div>
  </div>
</div>
