<div class="container">
  <div class="row">
    <div class="col-md">
      <div class="card">
        <div class="center">
          <h1>LOGIN UP FORM</h1>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              formControlName="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              formControlName="password"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
          <div>Create a new account<a routerLink="/signup">SignUp</a></div>

          <div class="forgot-password">
            <a href="">Forgot password?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
