<app-search></app-search>
<app-tags></app-tags>
<app-page-not-found
  [visible]="!mobiles || !mobiles.length"
  resetLinkText="Reset Search"
></app-page-not-found>
<ul>
  <li *ngFor="let mobile of mobiles">
    <a routerLink="/mobile/{{ mobile.id }}">
      <img [src]="mobile.imageUrl" [alt]="mobile.name" />
      <div class="content">
        <div class="name">
          {{ mobile.name }}
        </div>
        <span class="favorite {{ mobile.favorite ? '' : 'not' }}"> ❤ </span>
        <div class="stars">
          <star-rating [stars]="mobile.stars"> </star-rating>
        </div>
        <div class="product-item-footer">
          <div class="specifications">
            <span *ngFor="let specification of mobile.Specification">
              {{ specification }}
            </span>
          </div>
        </div>

        <div class="price">
          <span>
             {{mobile.price| currency:'INR'}}
          </span>
        </div>
      </div>
    </a>
  </li>
</ul>
