<app-title title="Cart Page" margin="1.5rem 0 0 2.5rem"></app-title>
<app-page-not-found
  [visible]="!cart || !cart.items.length"
  notFoundMessage="Cart Page Is Empty!"
  resetLinkText="Go To Homepage"
>
</app-page-not-found>
<div *ngIf="cart && cart.items.length" class="container">
  <ul>
    <li *ngFor="let cartItem of cart.items">
      <div>
        <img [src]="cartItem.mobile.imageUrl" [alt]="cartItem.mobile.name" />
      </div>
      <div>
        <a routerLink="/mobile/{{ cartItem.mobile.id }}">
          {{ cartItem.mobile.name }}
        </a>
      </div>
      <div>
        <select
          #quantitySelect
          [value]="cartItem.quantity"
          (change)="changeQuantity(cartItem, quantitySelect.value)"
        >
          <!-- Generate options dynamically for any number -->
          <option
            *ngFor="let option of generateQuantityOptions()"
            [value]="option"
          >
            {{ option }}
          </option>
        </select>
      </div>
      <div>INR ₹ {{ cartItem.price }}</div>

      <div>
        <button class="remove-button" (click)="removeFromCart(cartItem)">
          Remove
        </button>
      </div>
    </li>
  </ul>
  <div class="checkout">
    <div>
      <div class="mobiles-count">{{ cart.totalCount }}</div>
      <div class="total-price">INR ₹ {{ cart.totalPrice }}</div>
    </div>

    <!-- Show the confirmation message when orderConfirmed is true -->
    <div *ngIf="orderConfirmed" class="confirmation-message">
      Order Confirmed! Redirecting to Homepage...
    </div>

    <!-- Disable the button when the cart is empty or order is confirmed -->
    <button
      class="proceed-button"
      [disabled]="cart.items.length === 0 || orderConfirmed"
      (click)="confirmOrder()"
    >
      Proceed to Checkout
    </button>
  </div>
</div>
<app-footer></app-footer>